html {
    font-size: 16px;
  }
  .smiley-1 {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-family: 'courier new';
    font-weight: bold;
    font-size: 50px;
    color: #424242;
    background: #ffcc00;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .smiley-2 {
    width: 6.25rem;
    height: 6.25rem;
    line-height: 6.25rem;
    text-align: center;
    font-family: 'courier new';
    font-weight: bold;
    font-size: 3.125rem;
    color: #424242;
    background: #ffcc00;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .smiley-3 {
    width: 3.125rem;
    height: 3.125rem;
    line-height: 3.125rem;
    text-align: center;
    font-family: 'courier new';
    font-weight: bold;
    font-size: 1.563rem;
    color: #424242;
    background: #ffcc00;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .smiley-4 {
    width: 12.5rem;
    height: 12.5rem;
    line-height: 12.5rem;
    text-align: center;
    font-family: 'courier new';
    font-weight: bold;
    font-size: 6.25rem;
    color: #424242;
    background: #ffcc00;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
